body {
  width: 480px;
  margin: 0 auto;
  background: #f6f6f6;
  color: #444;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

.index {
  min-height: 100%;
  height: auto;
  border-right: 10px solid #ccc;
  border-left: 10px solid #ccc;
  position: relative;
}
.index body:before, .index body:after {
  content: '';
  width: 100%;
  height: 10px;
  left: 0;
  position: fixed;
  background: #ccc;
}
.index body:after {
  bottom: 0;
}
.index body {
  text-align: center;
}
.index h1 {
  width: 100%;
  font-size: 80px;
  margin: 80px 0 10px 0;
}
.index h2 {
  margin-top: 10px;
}
.index ul {
  width: 200px;
  margin: 50px auto;
}
.index li a {
  display: block;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  color: #444;
  background: #e6e6e6;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.index li a:hover {
  background: #444;
  color: #e6e6e6;
}


footer {
  font-size: 11px;
}


nav {
  width: 100%;
  height: 10px;
  padding-left: 10px;
  position: fixed;
  left: 0;
  z-index: 2000;
  font-size: 10px;
  background: #ccc;
}
nav a {
  display: inline-block;
  padding: 5px;
  padding-right: 10px;
  background: #ccc;
  text-decoration: none;
  border-radius: 5px;
  color: #222;
}
nav a:visited {
  color: #222;
}
nav a:hover {
  color: #666;
  text-decoration: underline;
}

ul.tabs {
  height: 50px;
  margin-top: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1000;
}
ul.tabs li {
  width: 238px;
  float: left;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0px;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.tabs li.current, .tabs li.current:hover {
  cursor: default;
  background: rgba(0,0,0,0.8);
  color: #eee;
  text-shadow: none;
  border: 1px solid #666;
  background-image: -webkit-linear-gradient(top, #666666, #111111);
  background-image: -moz-linear-gradient(top, #666666, #111111);
  background-image: linear-gradient(top, #666666, #111111);
}


div.wrapper {
  position: relative;
}
section {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 60px;
  position: relative;
  clear: both;
  overflow: hidden;
}
section h1 {
  margin: 0;
  text-align: center;
  font-size: 28px;
}
iframe {
  padding: 20px;
  border: none;
}
div.iframe, div.codeview {
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3) inset;
}
div.iframe {
  width: 100%;
}
div.codeview {
  display: none;
}
.iframe > span, .codeview > span {
  display: none;
}

.iframe > span, .codeview > span {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e6e6e6;
  opacity: 0.8;
  font-size: 10px;
}

.codeview pre {
  margin: 0;
  padding: 20px;
}
.codeview code {
  line-height: 2;
}


form {
  width: 480px;
  height: 20px;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -240px;
  background: rgba(0,0,0,0.8);
  color: #eee;
  text-align: center;
  z-index: 1000;
}
input[type=text] {
  width: 150px;
  padding: 5px 0;
  border: none;
  border-bottom: 1px dotted #eee;
  background: transparent;
  color: inherit;
  font-family: monospace;
}
form input[type=submit] {
  width: 40px;
}
form button {
  display: block;
  position: absolute;
  top: 20px;
}
form button:nth-of-type(1) {
  left: 10px;
}
form button:nth-of-type(2) {
  right: 10px;
}





@media screen and (min-width: 600px) {

  form {
    width: 600px;
    margin-left: -300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  ul.tabs {
    display: none;
  }
  div.iframe, div.codeview {
    width: 50%;
    float: left;
    /* Overide the tabs $.fn.show/hide toggle, just in case */
    display: block !important;
  }
  div.iframe {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  div.codeview {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .iframe > span, .codeview > span {
    display: block;
  }

}

@media screen and (min-width: 600px) and (max-width: 959px) {

  body {
    width: 100%;
  }

}

@media screen and (min-width: 960px) {

  body {
    width: 960px;
    margin: 0 auto;
  }

}

form div {
  width: 100%;
  position: absolute;
  top: -25px;
  left: 0;
  text-align: center;
  color: #888;
  font-weight: bold;
  font-family: monospace;
}
form div small {
  font-weight: normal;
}

/* Button styles {{{ */
input[type=submit], button, .button, .tabs li {
/* button, .button { */
  font-size: 12px;
  text-align: center;
  width: 60px;
  padding: 5px 0;
  background: #eee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  border-radius: 4px;
  -webkit-transition: all 400ms;
  -moz-transition:    all 400ms;
  transition:         all 400ms;
  text-shadow: 0 1px 0 #eee;
}
input[type=submit]:disabled, button:disabled, .button:disabled {
  opacity: 0.7;
}
input[type=submit]:hover, button:hover, .button:hover, .tabs li:hover {
/* button:hover, .button:hover { */
  background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: linear-gradient(top, #dddddd, #bbbbbb);
  text-shadow: 0 1px 0 #ddd;
}
input[type=submit]:disabled:hover, button:disabled:hover, .button:disabled:hover {
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
}
/* }}} */
/* Prettyprint styles {{{ */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #444 }  /* plain text */

.str { color: #080 }  /* string content */
.kwd { color: #008 }  /* a keyword */
.com { color: #800 }  /* a comment */
.typ { color: #606 }  /* a type name */
.lit { color: #066 }  /* a literal value */
/* punctuation, lisp open bracket, lisp close bracket */
.pun, .opn, .clo { color: #660 }
.tag { color: #204a87; font-weight: bold;}  /* a markup tag name */
.atn { color: #a40000 }  /* a markup attribute name */
.atv { color: #080 }  /* a markup attribute value */
.dec, .var { color: #606 }  /* a declaration; a variable name */
.fun { color: red }  /* a function name */

/* }}} */

