<!doctype html>
<html>
  <meta charset="utf-8">
  <head>
    <title>Filtering | jQuery Labs</title>
    <link rel="stylesheet" href="vendor/css/normalize.css">
    <link rel="stylesheet" href="css/jqlabs.css">

    <script src="vendor/js/jquery.js"></script>
    <script src="vendor/js/plugins/pubsub.js"></script>
    <script src="vendor/js/plugins/jquery.jqote2.js"></script>
    <script src="vendor/js/plugins/prettify.js"></script>
    <script src="js/jqlabs.js"></script>
  </head>
  <body>

    <nav>
      <a href="index.html">&laquo Back to Index</a>
    </nav>

    <ul class="tabs">
      <li class="current">Live</li>
      <li>Code</li>
    </ul>

    <div class="wrapper"></div>

    <form>
      <button type="button">Prev</button>
      <label>
        <code></code>
        <input type="text">
      </label>
      <input type="submit" value="Run">
      <button type="button">Next</button>
    </form>

    <script id="section-tmpl" type="text/template">
      <section>
        <h1> <%= this.instructions %> </h1>
        <div class="iframe">
          <span>Live View</span>
          <iframe name="<%= this.iframe_name %>" src=" <%= this.iframe_src %> " seamless scrolling="no" tabindex="-1"></iframe>
        </div>
        <div class="codeview">
          <span>Code View</span>
          <pre><code class="prettyprint"></code></pre>
        </div>
      </section>
    </script>

  </body>
</html>
