html {
  height: 100%;
  background: #eee;
}
body {
  min-height: 100%;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}

ul {
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #2e87dd;
}
a:hover {
  text-decoration: underline;
}
h1, h2 {
  text-shadow: -1px 1px 1px #fff;
}
footer {
  padding-bottom: 60px;
  font-size: 75%;
}


.row {
  width: 90%;
  margin: 0 auto 60px;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
