<div class="exercise-workspace clearfix">

  <div class="col vi">
    <span class="label">Live</span>
    <div class="overlay"></div>
    {{iframe-sandbox src="assets/sandbox/sandbox.html" html=html exerciseBinding="model"}}
  </div>

  <div class="col vi">
    <span class="label">Code</span>
    {{prism-highlighter language="markup" code=htmlFiltered exerciseBinding="model"}}
  </div>

  {{command-line value=answer exerciseBinding="model" action="buildCommand"}}

</div>
