<div class="exercise-workspace clearfix">

  <div class="col vi">
    <span class="label">Live</span>
    <div class="overlay"></div>
    <iframe src="assets/sandbox/sandbox.html"></iframe>
  </div>

  <div class="col vi">
    <span class="label">Code</span>
    <pre><code>{{htmlStart}}</code></pre>
  </div>

</div>
