<div class="row index">
  <div class="col x center">

    <section class="hero">
      <h1>{{App.name}}</h1>
      <p class="leader">Lorem ipsum <em>key concepts</em> dolor sit amet <em>understand</em> and stuff</p>
    </section>

    <ul class="category-list blocks iii-up mob-ii-up">
      {{#each controller}}
        <li>
           {{#link-to "categories.category" this classNames="category-label" classNameBindings="id"}}
             {{label}}
           {{/link-to}}
        </li>
      {{/each}}
    </ul>

    {{partial "footer"}}
  </div>
</div>
