.label-box {
  padding: $spacing;
  font-size: 1.4em;
  line-height: 3em;

  // ICONS
  &:before {
    width: 30%;
    margin-right: $spacing/2;
    font-size: 3em;
    float: left;
    font-family: IcoMoonSubset;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
  }

  &.selecting:before {
    content: "\e007";
  }

  &.traversing:before {
    content: "\f0e8";
  }

  &.filtering:before {
    content: "\f0b0";
  }
}

a.label-box {
  border-bottom: none;
  display: block;
  color: $black;
  background: $ghostWhite;
  transition: all 0.2s;

  &:hover, &:focus {
    color: $linkColor;
    background: rgba(255,255,255,0.8);
  }
}


footer {
  padding: $spacing 0;
  margin: $spacing 0;
  font-size: 0.8em;
  text-align: center;

  a:link {
    color: #222;
  }
}


button {
  &.mini {
    padding: 0.6em 1em;
  }

  &:disabled {
    opacity: 0.6;
    font-style: italic;
  }

  &.button:hover {
    background: $primaryColor;
    cursor: not-allowed;
  }
}
