body {
  background: #fff url(../img/bg.jpg) no-repeat top center fixed;
  background-size: cover;
}

.index {
  text-align: center;

  .label-box {
    text-align: left;
  }
}

.hero {
  padding: $spacing 0;
  margin: $spacing 0;

  h1 {
    font-size: 7em;
  }
  .leader {
    font-weight: bold;
  }
}

.category-list {
  padding: $spacing 0;
  margin: $spacing 0;
}


.heading {
  margin-top: $spacing*4;
  background: $black;

  .label-box {
    width: 240px;
    margin: 0 auto;
    color: $white;
  }
}

.category-description, .exercise-index {
  padding: $spacing;
  background: $ghostWhite;

  h2 {
    margin-top: 0;
  }
}


.exercise-list .label-box {
  border: 1px solid $grey3;
  font-size: 1.6em;
  line-height: 2em;
  font-family: monospace;
  background: rgba(237, 237, 237, 0.6);
  text-align: center;
}


.exercise-container {
  background: $white;
  transition: height 0.2s;
}

.sidebar {
  width: 240px;
  min-height: 100%;
  position: absolute;
  border-right: 1px solid $grey3;
  background: #fff;

  .label-box {
    width: 241px;
    margin-top: 0;
    position: relative;
    left: -1px;
    background: $black;
    color: $white;
  }

  .button {
    width: 60px;
    text-align: center;

    &[rel="prev"] {
      float: left;
    }

    &[rel="next"] {
      float: right;
    }
  }

  .pagination {
    width: 100px;
    float: left;
    position: relative;
    top: -$spacing/3;
    font-size: 0.8em;
    text-align: center;

    p {
      margin: 0;
    }
  }

  .app-nav {
    clear: both;
    margin-top: $spacing*4;
    text-align: center;

    a {
      display: block;
      border-bottom: none;
    }
  }
}


.exercise-workspace {
  background: $white;
  margin-left: 240px;
  position: relative;
  height: 100%;

  .col {
    height: 100%;
    padding-right: 0;
    padding-top: 0;
    margin:0;
    position: relative;
  }

  iframe {
    height: 100%;
    width: 100%;
    border: none;
    position: relative;
  }

  pre {
    height: 100%;
    padding-top: $spacing/2;
    margin: 0;
    overflow: auto;
  }

  code {
    height: 100%;
    background: transparent;
    white-space: pre-wrap;
  }

  .label {
    padding: 4px 8px;
    /* Why is headstart using !important?  */
    border: 1px solid $grey3 !important;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    color: $black;
    opacity: 0.6;
    z-index: 100;
    text-transform: uppercase;
    font-size: 0.71em;
    font-family: $uiFont;
    letter-spacing: 1px;
    @include roundedSmall;
  }

  &:after {
    content: "";
    width: 1px;
    height: 100%;
    margin-left: -0.5px;
    position: absolute;
    top: 0;
    left: 50%;
    background: $grey3;
  }

  /* Fix for browser window scrollbar appearing even when it shouldn't. It seems
  like the iframe has extra vertical spacing that we can't remove. */
  .col:first-child {
    position: relative;
    top: -6px;
  }
  iframe {
    position: relative;
    top: 6px;
  }

  .col:last-child .label {
    top: 6px;
  }
}

.command-line {
  width: 360px;
  height: auto;
  margin-left: -180px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transition: all 0.2s;
  z-index: 10;

  input {
    width: 100%;
    padding: 0 30px 0 10px;
    margin: 0;
    font-size: 1.6em;
    line-height: 1;
    font-family: monospace;
    background: rgba(255, 255, 255, 0.6);
    transition: all 0.2s ease !important;  /* Need to override Headstart again */
  }

  &.animate {
    &.error {
      -webkit-animation: shake 0.1s 6;
      animation: shake 0.1s 6;
    }
    &.correct input {
      background: $correctColor;
    }
    &.incorrect input,
    &.error input {
      background: $errorColor;
    }
    .state-badge {
      display: none;
    }
  }

  .state-badge {
    position: absolute;
    top: 0.2em;
    right: $spacing/2;
  }
}

@keyframes shake {
  0% {
    transform: translate3d(5px, 0, 0);
  }
  33% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-5px, 0, 0);
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate3d(5px, 0, 0);
  }
  33% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-5px, 0, 0);
  }
}
