body {
  background: #fff url(../img/bg.jpg) no-repeat top center fixed;
  background-size: cover;
}

.index {
  text-align: center;

  .label-box {
    text-align: left;
  }
}

.hero {
  padding: $spacing 0;
  margin: $spacing 0;

  h1 {
    font-size: 7em;
  }
  .leader {
    font-weight: bold;
  }
}

.category-list {
  padding: $spacing 0;
  margin: $spacing 0;
}


.heading {
  margin-top: $spacing*4;
  background: $black;

  .label-box {
    width: 240px;
    margin: 0 auto;
    color: $white;
  }
}

.category-description {
  padding: $spacing;
  background: $ghostWhite;

  h2 {
    margin-top: 0;
  }
}
