body {
  background: #fff url(../img/bg.jpg) no-repeat top center fixed;
  background-size: cover;
}

.index {
  text-align: center;

  .label-box {
    text-align: left;
  }
}

.hero {
  padding: $spacing 0;
  margin: $spacing 0;

  h1 {
    font-size: 7em;
  }
  .leader {
    font-weight: bold;
  }
}

.category-list {
  padding: $spacing 0;
  margin: $spacing 0;
}
