{{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
{{/if}}
<input type="text" autofocus="autofocus" spellcheck="false" {{bindAttr value="value"}}>
<i {{bindAttr class="exerciseState :state-badge"}}></i>
