body {
  /* background: #fff url(../img/bg-light-1.png) no-repeat top center fixed; */
  background: #fff url(../img/bg-light-1.jpg) no-repeat top center fixed;
  background-size: cover;
}
body.single {
  background: #fff;
}

.button[data-icon]:before {
  margin-right: 4px;
}

.category-label {
  padding: 18.662px;
  font-size: 1.4em;
  margin-top: 0;
  background: #222;
  color: #f3f3f3;
  text-align: left;
  overflow: hidden;
  line-height: 3em;
}
.category-label:before {
  width: 30%;
  margin-right: 9.331px;
  font-size: 3em;
  float: left;
}

.index {
  text-align: center;
}
.hero {
  border: none;
  background: none;
}
.hero h1 {
  font-size: 7em;
}
.hero h1, .hero .leader {
  font-weight: bold;
}

.category-list {
  padding: 1.777em 0;
  margin: 18.662px 0;
}
a.category-label {
  border-bottom: none;
  display: block;
  color: #222;
  background: rgba(255,255,255,0.4);
  transition: all 0.2s;
}
a.category-label:hover {
  color: #4f86a7;
  background: rgba(255,255,255,0.8);
}

footer {
  padding: 1.777em;
  margin: 18.662px 0;
  font-size: 0.8em;
  text-align: center;
}
footer a:link {
  color: #222;
}

.sidebar {
  width: 240px;
  height: 100%;
  background: white;
  position: absolute;
}

.sidebar .category-label {
  width: 241px;
  position: relative;
  z-index: 10;
}

.sidebar .nav {
  position: relative;
}
.nav .prev, .nav .next {
  width: 60px;
  text-align: center;
  float: left;
  position: relative;
  top: 8px;
}
.nav .next {
  float: right;
}
.app-nav {
  text-align: center;
  margin-top: 80px;
}
.pagination {
  width: 60px;
  position: absolute;
  left: 95px;
  font-size: 0.9em;
}
.pagination p {
  margin: 0;
}

.exercise-container {
  background: #ededed;
  margin-left: 240px;
  border-left: 1px solid #d4d4d4;
  position: relative;
  height: 100%;
}

.exercise-container:after {
  content: "";
  width: 1px;
  height: 100%;
  margin-left: -0.5px;
  position: absolute;
  top: 0;
  left: 50%;
  background: #d4d4d4;
}

.exercise-container .col {
  height: 100%;
}
.exercise-container .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
iframe {
  /* offset iframe content's body's default margin */
  margin: -8px 0 0;
  padding-top: 10px;
  height: 100%;
  width: 100%;
  border: none;
}
input.command-line {
  width: 360px;
  height: auto;
  line-height: 1;
  margin-left: -180px;
  font-size: 1.6em;
  position: absolute;
  bottom: 20px;
  left: 50%;
  font-family: monospace;
  background: rgba(255,255,255,0.6);
  z-index: 10;
}
.exercise-container pre,
.exercise-container code {
  padding-top: 10px;
  margin: 0;
  height: 100%;
  background: transparent;
  white-space: pre-wrap;
}

.heading {
  background: #222;
  margin-top: 80px;
}
.heading .category-label {
  width: 240px;
  margin: 0 auto;
}
.category-description {
  padding: 20px;
  background: rgba(255,255,255,0.4);
}
.category-description h2 {
  margin-top: 0;
}

.exercise-container .label {
  padding: 4px 8px;
  /* Why is headstart using !important?  */
  border: 1px solid #d4d4d4 !important;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  color: #222;
  opacity: 0.6;
}



/* TEMP MOCKUP NAVIGATION */
#mockup-nav {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: right;
}
#mockup-nav a, #bg-cycler {
  border-bottom: none;
  display: block;
}
#mockup-nav > a {
  font-size: 1.4em;
}
#mockup-nav nav {
  display: none;
}
#mockup-nav:hover nav {
  display: block;
}

#bg-cycler {
  position: fixed;
  bottom: 16px;
  right: 50px;
}
