/* Styles for the sliding container *//*-v-*/
.container {
  width: 200%;
  position: relative;
}
.index, .exercise {
  width: 50%;
  float: left;
  -webkit-transition: height 0.2s;
}
/*-^-*/
/* Index section *//*-v-*/
.index {
  text-align: center;
}
.index h1 {
  padding-top: 60px;
  margin: 0;
  font-size: 80px;
}
/* Category list *//*-v-*/
.categories {
  margin: 60px 0;
}
.categories a {
  max-width: 200px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  margin: 0 auto 10px auto;
  display: block;
  border-radius: 2px;
  background: #f6f6f6;
  color: #666;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  -moz-transition:     all 0.2s;
  -webkit-transition:  all 0.2s;
  -o-transition:       all 0.2s;
  -ms-transition:      all 0.2s;
  transition:          all 0.2s;
}
.categories a:hover, .categories a:focus {
  background: rgba(0,0,0,0.6);
  color: #eee;
  outline: none;
  text-decoration: none;
}
/*-^-*/

/*-^-*/
/* Exercise section *//*-v-*/
.exercise {
  position: relative;
}
/* Back to index nav *//*-v-*/
/* TODO: Make it slideToggle on transitions */
.back {
  width: 100%;
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background: #bbb;
  background: rgba(0,0,0,0.2);
  text-align: left;
  z-index: 100;

  -webkit-transition: all 0.2s;
  opacity: 1;
}
.onindex .back {
  opacity: 0;
}

.back a {
  padding: 0 10px 5px;
  margin: 10px;
  display: inline-block;
  font-size: 10px;
  border-bottom-left-radius:   4px;
  border-bottom-right-radius:  4px;
  background: #bbb;
  background: rgba(0,0,0,0.2);
  color: #222;
}
/*-^-*/
/* Live/Code views *//*-v-*/
.view {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #f6f6f6;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}
.view div {
  width: 50%;
  height: 100%;
  float: left;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;
}
/*-^-*/
/* Tabs *//*-v-*/
.tabs {
  margin: 0;
  display: none;
}
.tabs li {
  width: 50%;
  float: left;
  text-align: center;
}
.tabs a {
  height: 25px;
  padding: 10px;
  display: block;
  position: relative;
  color: #444;
  background: #ddd;
  text-shadow: -1px 1px 1px #fff;
  z-index: 10;
  border: 1px solid #ccc;
  border-top: none;
}
.tabs li:first-child a {
  border-left-color: transparent;
}
.tabs li:last-child a {
  border-right-color: transparent;
}
.tabs a:hover {
  text-decoration: none;
}
.tabs a.current {
  background: #f6f6f6;
  text-shadow: -1px 1px 1px #eee;
  border-color: transparent;
}
/*-^-*/
/* Exercise progress and controls *//*-v-*/
.progress {
  padding: 5px;
  text-align: right;
  font-size: 12px;
  font-family: monospace;
  font-style: italic;
}
.controls {
  text-align: center;
}
.controls div, .controls button {
  display: inline-block;
}
.controls select {
  margin: 0 20px;
  font-size: 10px;
}
/*-^-*/
/* .command line *//*-v-*/
.command {
  max-width: 520px;
  margin: -60px auto 30px;
}
.command label {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #f6f6f6;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  font-size: 14px;
}
.command input, .command .context {
  font-family: monospace;
}
.command input {
  padding: 0;
  border: none;
  background-color: transparent;
  display: inline-block;

  /* Setting width per exercise will need to be done in JS. */
  width: 130px;
}
.command input:focus {
  outline: none;
}
.command button {
  width: 90px;
  padding: 8px 25px;
  font-size: 14px;
  margin: 15px auto;
  display: block;
}

/* .selecting .command input { */
  /* width: 100%; */
  /* text-align: center; */
/* } */
/* .selecting .command-context { */
  /* display: none; */
/* } */
/*-^-*/
/*-^-*/
