.index h1 {
  font-size: 60px;
}
nav.back {
  position: static;
}

/* TODO: Move this to a wider breakpoint */
.tabs {
  display: block;
}
#exercise {
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.iframe, .codeview {
  width: 100%;
  position: absolute;
}

#cmd input, #cmd-context {
  font-size: 12px;
}
